<% content_for :title, "Runs" %>

<%= render "filters", clear_path: runs_path %>

<% if @runs.records.any? %>
  <table class="table is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Run</th>
        <th>Prompt</th>
        <th>Provider/Model</th>
        <th>Instructions</th>
        <th>Message</th>
        <th>Started at</th>
        <th>Ended at</th>
        <th>Duration</th>
        <th>Accuracy</th>
        <th>Cost</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "ruby_llm/evals/runs/run", collection: @runs.records %>
    </tbody>
  </table>
<% else %>
  <div class="mt-6 has-text-centered is-size-4 has-text-grey">There are no runs</div>
<% end %>

<%= render "ruby_llm/evals/application/pagination", page: @runs %>
