.json-editor {
  width: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  position: relative;
}

@media (prefers-color-scheme: dark) {
  .json-editor {
    border-color: #4a4a4a;
  }
}

.json-editor.is-danger {
  border-color: #f14668;
  box-shadow: 0 0 0 0.125em rgba(241, 70, 104, 0.25);
}

.field .json-editor {
  margin-bottom: 0.5rem;
}

.columns .column .json-editor {
  min-width: 0;
}
