<% content_for :title, "Editing prompt" %>

<h1 class="title">Editing prompt</h1>

<%= render "form", prompt: @prompt %>

<div class="mt-6 buttons">
  <%= link_to "Show this prompt", @prompt, class: "button" %>
  <%= link_to "Back to prompts", prompts_path, class: "button" %>
</div>
